In [2]:
list3=["Ram",1,"sam",2,"Nayan",3]
list3

['Ram', 1, 'sam', 2, 'Nayan', 3]

In [3]:
list3[2]

'sam'

In [4]:
list3[4]

'Nayan'

In [5]:
list3[2:]

['sam', 2, 'Nayan', 3]

In [6]:
list3[0:4]

['Ram', 1, 'sam', 2]

In [7]:
list3[1:4]

[1, 'sam', 2]

In [9]:
list3

['Ram', 1, 'sam', 2, 'Nayan', 3]

In [10]:
list3[-2:1:-1]

['Nayan', 2, 'sam']

In [12]:
list3[2:0:-1]

['sam', 1]

In [14]:
demo=list3[1:3]
demo

[1, 'sam']

In [3]:
list3.append("vamsi")

NameError: name 'list3' is not defined

In [20]:
list5=[1,2,3]
list5

[1, 2, 3]

In [21]:
list5.pop()
list5

[1, 2]

In [25]:
list5.pop()
list5

[1]

In [26]:
del list5

In [31]:
employee=["sam","mounica","Bhanu"]
manager=["Rakesh","vamsi","Madhavi"]
for emp in manager:
    employee.append(emp)
    
print(manager)

['Rakesh', 'vamsi', 'Madhavi']

In [32]:
if 'vamsi' in manager:
    print("He is in manager list")
else:
    print("No he is not one of the manager")

He is in manager list

In [33]:
# in a given list i want to get 2nd highest  value
Example:321321 3213 121 3 3244234 332443
      332443

SyntaxError: invalid syntax (<ipython-input-33-80b95389658f>, line 2)

In [46]:
val=["321321","3213","121","3","3244234","332443"]
r=max(val)
s=r>max(val)
for em in range(s):
    print(s)

print(s)

False

In [ ]:
marks=[]
size=int(input())
for data in range()