## Looping statements
- To perform a task multiple times
- In python , for and while only
### For loop
-  ''' for i in range():
        #  body of the loop

In [1]:
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [2]:
for k in range(10):
    print(k)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [6]:
for y in range(1,10):
    print(y,end=' ')

1 2 3 4 5 6 7 8 9

In [16]:
for a in range(2,10,2):
    print(a,end=' ')

2 4 6 8

In [21]:
for i in range(5,55,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [22]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [ ]:
# generate a match table for a given number
# input:enter a no to generate match table
# outp:12*1=12

In [3]:
n=int(input("Enter a number "))
for i in range(1,11):
    print(n,'*',i,'=',i*n)

Enter a number 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
## task1 generte math tables upto given range
## in:5
#2,3,4,5 tables

In [6]:

n=int(input("Enter a number "))
for i in range(2,n+1):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)
    print()

Enter a number 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

#### while loop
'''i=0
while(cond):
#body of the loop
incerement/decrement'''

In [3]:
i=1
print(i)
while(i<=10):
    print(i)
    i+=1
print(i)

1
1
2
3
4
5
6
7
8
9
10
11

### jump statements:
- by using these statements we will tereminate the loop
- those are break and continue
- break: break statement will terminate the loop perminatly 
- continue: It wil terminate for instant time only

In [12]:
for i in range(100):
    if(i==51):
        break;
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [20]:
for j in range(1,500):
    if(j%5==0):
        continue
    print(j,end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99 101 102 103 104 106 107 108 109 111 112 113 114 116 117 118 119 121 122 123 124 126 127 128 129 131 132 133 134 136 137 138 139 141 142 143 144 146 147 148 149 151 152 153 154 156 157 158 159 161 162 163 164 166 167 168 169 171 172 173 174 176 177 178 179 181 182 183 184 186 187 188 189 191 192 193 194 196 197 198 199 201 202 203 204 206 207 208 209 211 212 213 214 216 217 218 219 221 222 223 224 226 227 228 229 231 232 233 234 236 237 238 239 241 242 243 244 246 247 248 249 251 252 253 254 256 257 258 259 261 262 263 264 266 267 268 269 271 272 273 274 276 277 278 279 281 282 283 284 286 287 288 289 291 292 293 294 296 297 298 299 301 302 303 304 306 307 308 309 311 312 313 314 316 317 318 319 321 322 323 324 326 327 328 329 331 332 333 334 336 337 338 339 341 342 343 344 346 347 348 349 351 352 353 354 356 357 358 359 361 362 363 364 366 367 368 369 371 372 373 374 376 377 378 379 381 382 383 384 386 387 388 389 391 392 393 394 396 397 398 399 401 402 403 404 406 407 408 409 411 412 413 414 416 417 418 419 421 422 423 424 426 427 428 429 431 432 433 434 436 437 438 439 441 442 443 444 446 447 448 449 451 452 453 454 456 457 458 459 461 462 463 464 466 467 468 469 471 472 473 474 476 477 478 479 481 482 483 484 486 487 488 489 491 492 493 494 496 497 498 499

In [ ]:
# task2 : generate even numbers upto 100(use range with 3 args)
# input:enter start value:5
# output : 6,8,10,......,100

In [5]:
# task2
n=int(input('Enter a start value '))
if(n%2!=0):
    for i in range(n+1,101,2):
        print(i)
else:
    for i in range(n,101,2):
        print(i)

Enter a start value 5
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [16]:
n=int(input("Enter a number "))
for i in range(2,n+1):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)
    print()

Enter a number 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50